@import url('fontes.css');

html, body {
  margin: 0;
}


body {
  font-family: 'brocharegular', serif;
  min-height: 450px;
  height: 100vh;
  background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000);
}


.container {
  height: 100%;
  width: 100%;
  position: absolute;
}


.container:after {
  content: 'arume';

  height: 100%;
  width: 100%;
  position: absolute;

  display: inline-flex;
  overflow: auto;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

  color: whitesmoke;
  letter-spacing: -2px;
  font-size: 90px;
  font-weight: normal;
  font-style: normal;
}


#fecha {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 0);
  color: whitesmoke;
  font-size: 32px;
  font-family: 'brocharegular', serif;
  letter-spacing: -1px;
  text-align: center;
}
