@import url('fontes.css');

html, body {
  margin: 0;
}


body {
  font-family: 'brocharegular', serif;
  min-height: 450px;
  height: 100vh;
  background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000);
}


.container {
  height: 100%;
  width: 100%;
  position: absolute;
}


.container:after {
  content: 'arume';

  height: 100%;
  width: 100%;
  position: absolute;

  display: flex; /* Centrado horizontal y vertical */
  overflow: auto;
  /*flex-flow: row wrap;*/
  justify-content: center;
  align-items: center;

  color: whitesmoke;
  letter-spacing: -2px;
  font-size: 90px;
  font-weight: normal;
  font-style: normal;

  padding-bottom: 24px; /* Espacio fijo entre ARUME y la fecha */
}


#fecha {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 0);
  color: whitesmoke;
  font-size: 22px;
  font-family: 'brocharegular', serif;
  letter-spacing: 1px;
  text-align: center;
}

#nav {
  position: absolute;
  left: 50%;
  top: 64%;
  transform: translate(-50%, 0);
  color: whitesmoke;
  font-size: 22px;
  font-family: 'brocharegular', serif;
  letter-spacing: 1px;
  text-align: center;
}

#ip {
  position: absolute;
  left: 50%;
  top: 68%;
  transform: translate(-50%, 0);
  color: whitesmoke;
  font-size: 22px;
  font-family: 'brocharegular', serif;
  letter-spacing: 1px;
  text-align: center;
}

#device {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, 0);
  color: whitesmoke;
  font-size: 22px;
  font-family: 'brocharegular', serif;
  letter-spacing: 1px;
  text-align: center;
}

