

@font-face {
    font-family: 'brocharegular';
    src: url('../fonts/brocha-regular/brocha-regular-webfont.woff2') format('woff2'),
         url('../fonts/brocha-regular/brocha-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


